<div class="container-lg">

  <nav class="navbar navbar-expand-lg navbar-light bg-light my-2">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Slam-Security</a>

    </div>
  </nav>

  <div class="row mt-5 mb-3">
    <div class="col"></div>
    <div class="col-6"><h1>Please sign in</h1></div>
    <div class="col"></div>
  </div>

  <form action="home.php" method="post">
    <div class="row mt-5 mb-3">
      <div class="col"></div>
      <div class="col-6">
        <div class="input-group">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" name="email" class="form-control" placeholder="email" aria-label="email" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="col" ></div>
    </div>
    <div class="row mt-5 mb-3">
      <div class="col"></div>
      <div class="col-6">
        <input type="password" name="password" class="form-control" id="inputPassword" placeholder="password">
      </div>
      <div class="col"></div>
    </div>
    <div class="row mt-5 mb-3">
      <div class="col"></div>
      <div class="col-6">
        <button type="submit" class="btn btn-primary">Sign in</button>
      </div>
      <div class="col"></div>
    </div>
    <p class="error">{{ $ERROR_MESSAGE }}</p>
  </form>


</div>