<nav class="navbar navbar-expand-lg navbar-light bg-light my-2">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Slam-Security</a>

        <ul class="nav justify-content-end">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/comment">Commentaires</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="auth/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>